*{
    margin: 0;
    padding: 0;
    
}

.bdr{
    border: 0px solid white;
}

.cc{
    cursor: pointer;
}
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: #ddd; */
  /* border: 2px solid; */
  background: conic-gradient(#7abd3300, #7abd33);
  /* border-color: white black black; */
  animation: spin 1.2s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}